
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table width="500px" height="200px">
    <tr>
        <th colspan="2">THONG TIN SINH VIEN</th>
    </tr>
    <tr>
        <td>Ma SV</td>
        <td></td>
    </tr>
    <tr>
        <td>Ho Ten</td>
        <td></td>
    </tr>
    <tr>
        <td>Ngay Sinh</td>
        <td></td>
    </tr>
    <tr>
        <td>Que Quan</td>
        <td></td>
    </tr>
</table>

