
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <form action="/NhapDiem/XuLy" method="post">
        <div>Ma Sinh Vien</div><br />
        <input type="text" name="ID" />
        <div>Ho Va Ten</div><br />
        <input type="text" name="Name" />
        <div>Diemn</div><br />
        <input type="text" name="Mark" /><br />
        <input type="submit" />
    </form>
</div>