
@{
    ViewBag.Title = "XuLy2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>XuLy</h2>
<body>
    <div>
        <table>
            <tr>
                <td>Ma Sinh Vien</td>
                <td>@ViewBag.ID</td>
            </tr>
            <tr>
                <td>Ho Ten</td>
                <td>@ViewBag.Name</td>
            </tr>
            <tr>
                <td>Diem</td>
                <td>@ViewBag.Mark</td>
            </tr>
        </table>
    </div>
</body>
