
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/clientlayout.cshtml";
}

<div id="contain">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p id="breadcrumbs">
                    <span>
                        <span>
                            <a href="@Url.Action("Index", "Home")">Trang chủ</a> » <span class="breadcrumb_last" aria-current="page">Giới Thiệu</span>
                        </span>
                    </span>
                </p>
            </div>
            <div class="col-sm-9 col-mm-8">
                <div class="title-page mb-10px">
                    <h1 class="title">Giới Thiệu</h1>
                </div>
                <div id="prime" class="mb-15px content">
                    <div style="display: none;"
                         class="kk-star-ratings kksr-valign-top kksr-align-left kksr-disabled" data-id="99"
                         data-slug="">
                        <div class="kksr-stars">
                            <div class="kksr-stars-inactive">
                                <div class="kksr-star" data-star="1">
                                    <div class="kksr-icon" style="width: px; height: px;"></div>
                                </div>
                                <div class="kksr-star" data-star="2">
                                    <div class="kksr-icon" style="width: px; height: px;"></div>
                                </div>
                                <div class="kksr-star" data-star="3">
                                    <div class="kksr-icon" style="width: px; height: px;"></div>
                                </div>
                                <div class="kksr-star" data-star="4">
                                    <div class="kksr-icon" style="width: px; height: px;"></div>
                                </div>
                                <div class="kksr-star" data-star="5">
                                    <div class="kksr-icon" style="width: px; height: px;"></div>
                                </div>
                            </div>
                            <div class="kksr-stars-active" style="width: 0px;">
                                <div class="kksr-star">
                                    <div class="kksr-icon" style="width: px; height: px;"></div>
                                </div>
                                <div class="kksr-star">
                                    <div class="kksr-icon" style="width: px; height: px;"></div>
                                </div>
                                <div class="kksr-star">
                                    <div class="kksr-icon" style="width: px; height: px;"></div>
                                </div>
                                <div class="kksr-star">
                                    <div class="kksr-icon" style="width: px; height: px;"></div>
                                </div>
                                <div class="kksr-star">
                                    <div class="kksr-icon" style="width: px; height: px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="kksr-legend"> <span class="kksr-muted"></span></div>
                    </div>
                    <h1>THƯ CẢM ƠN TỪ CÔNG TY VNSPORT</h1>
                    <h4><em>Kính gửi: Quý khách hàng</em></h4>
                    <p>
                        » Lời đầu tiên chúng tôi xin gởi lời chào trân trọng, chúc Quý khách nhiều sức khỏe và thành
                        công, hạnh phúc trong<br /> cuộc sống. Công ty chúng tôi cũng xin gửi lời cảm ơn chân thành
                        nhất tới những khách hàng đã, đang và sẽ cho<br /> phép chúng tôi được trở thành người bạn
                        đồng hành cũng như đã dành sự tín nhiệm và ủng hộ tới sản phẩm, dịch<br /> vụ mà công ty
                        chúng tôi cung cấp.
                    </p>
                    <p>
                        » Chúng tôi – <a title="Công ty VNSPORT" href="">
                            Công ty
                            <strong>VNSPORT</strong>
                        </a> – là một Công ty Phụ Kiện Khớp bán hàng trực tiếp đã hoạt
                        động kinh doanh tại Việt Nam với kinh nghiệm trong ngành phụ kiện bảo vệ khớp trên 5 năm.
                        Hiện nay, <a title="VNSPORT" href=""><strong>VNSPORT</strong></a> đã
                        phát triển những mẫu phụ kiện bảo vệ khớp hiện đại, theo kịp xu hướng mới nhất trên thị
                        trường. Liên tục update các ý kiến đóng góp từ khách hàng để sản phẩm được hoàn thiện tốt
                        hơn.
                    </p>
                    <p>
                        » Với hình thức bán hàng trực tiếp từ xưởng sản xuất của công ty đã giúp chúng tôi giảm thiểu
                        tối đa giá thành sản<br /> phẩm. Khách hàng hoàn toàn có thể yên tâm sở hữu những mẫu phụ
                        kiện bảo vệ khớp thời thượng với giá thành hợp lý nhất.
                    </p>
                    <p>
                        » <a href=""><strong>VNSPORT</strong></a> cung cấp các sản phẩm cao
                        cấp được làm từ nhiều chất liệu như nylong,cotton, spandex, sợi cao su,&#8230; với thành
                        phần đã được tính toán kỹ lưỡng nhằm tạo nên sản phẩm chất lượng và tạo cảm giác thoải mái
                        cho người dùng.<br /> » Bao gồm:
                    </p>
                    <p style="padding-left: 60px;">
                        • <a title="Đai Băng Bảo Vệ Đầu Gối"
                             href="">Đai Băng Bảo Vệ Đầu Gối</a>
                    </p>
                    <p style="padding-left: 60px;">
                        • <a title="Băng Bảo Vệ Khuỷu Tay"
                             href="">Băng Bảo Vệ Khuỷu Tay</a>
                    </p>
                    <p style="padding-left: 60px;">
                        • <a title="Băng Bảo Vệ Cổ Chân"
                             href="">Băng Bảo Vệ Cổ Chân</a>
                    </p>
                    <p style="padding-left: 60px;">
                        • <a title="Băng Bảo Vệ Cổ Tay"
                             href="">Băng Bảo Vệ Cổ Tay</a>
                    </p>
                    <p style="padding-left: 60px;">
                        • <a title="Đai Thắt Lưng - Thể Thao, Tập Gym"
                             href="">
                            Đai Thắt Lưng &#8211; Thể
                            Thao, Tập Gym
                        </a>
                    </p>
                    <p style="padding-left: 60px;">
                        • <a title="Phụ Kiện Thể Thao Khác"
                             href="">Phụ Kiện Thể Thao Khác</a>
                    </p>
                    <p>
                        » Và còn nhiều sản phẩm độc đáo khác. Mời quý khách tham khảo thêm chi tiết về các dòng sản
                        phẩm của chúng<br /> tôi qua:
                    </p>
                    <p style="padding-left: 60px;">
                        • Website : <a title="Trang Chủ Phụ Kiện Băng Khớp VNSPORT"
                                       href=""></a><br /> • Fanpage VNS : <a title="Fanpage VNS"
                                                                                                                           href="">https://www.facebook.com/VNSPORT1</a>
                    </p>
                    <p>» Ghé thăm trực tiếp cửa hàng tại địa chỉ:</p>
                    <p style="padding-left: 60px;">
                        • Showroom: Lê Văn Sỹ, Phường 2, Quận Tân Bình<br /> • Văn Phòng:
                        1356/8 Trường Sa, Phường 03, Quận Tân Bình<br /> • Chỉ Đường <a title="Google Maps - VNSPORT" href="https://g.page/phukienbangkhopvnsport/">
                            Google Maps
                            &#8211; VNSPORT
                        </a>
                    </p>
                    <p>
                        » Mọi chi tiết quý khách có thể liên hệ hotline 24/7 : <strong>0936 061 456</strong> để biết
                        thêm chi tiết..
                    </p>
                    <p>» Sự khác biệt của chúng tôi :</p>
                    <p style="padding-left: 60px;">
                        • Sản phẩm đa dạng mẫu mã, phù hợp mọi lứa tuổi, tiếp thu ý kiến
                        và cải tiến sản phẩm.
                    </p>
                    <p style="padding-left: 60px;">
                        • Tư vấn sản phẩm 24/7 qua các kênh thông tin facebook/zalo/….
                    </p>
                    <p style="padding-left: 60px;">• Vận chuyển COD toàn quốc an toàn, nhanh chóng.</p>
                    <p>
                        » <a title="VNSPORT" href=""><strong>VNSPORT</strong></a> một lần nữa
                        xin gửi lời cảm ơn sâu sắc tới quý khách hàng đã luôn đồng hành ủng hộ, tin tưởng sử<br />
                        dụng sản phẩm của chúng tôi.
                    </p>
                    <p><strong>Trân trọng!</strong></p>
                </div>
            </div>


            <!-- =====================================right ad side bar ====================== -->
            <div class="col-sm-3 col-mm-4 col-ms-12 col-xs-12 col-xxs-12" id="sidebar">
                <div class="row">
                    <div class="sb mb-15px col-sm-12">
                        <div class="title-page mb-15px">
                            <h2 class="title">Găng Tay Thể Thao Glofit Go</h2>
                        </div>
                        <div class="content-sb">
                            <iframe width="560" height="315"
                                    src="https://www.youtube.com/embed/_AOYahY3Kn8" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="widget_text sb mb-15px col-sm-12">
                        <div class="title-page mb-15px">
                            <h2 class="title">Quy Định Vận Chuyển</h2>
                        </div>
                        <div class="textwidget custom-html-widget">
                            <marquee id="marq" scrollamount="3" direction="left" loop="50" scrolldelay="0"
                                     onmouseover="this.stop()" onmouseout="this.start()">
                                <a href=""
                                   target="Quy Định Vận Chuyển - VNSPORT" rel="noopener">
                                    <img class="lazy lazy-hidden"
                                         src="//vnsport.com.vn/wp-content/plugins/a3-lazy-load/assets/images/lazy_placeholder.gif"
                                         data-lazy-type="image"
                                         data-src="https://vnsport.com.vn/wp-content/uploads/2019/04/free-ship-phai-qua1.png"><noscript>
                                        <img src="https://vnsport.com.vn/wp-content/uploads/2019/04/free-ship-phai-qua1.png">
                                    </noscript>
                                </a>
                            </marquee>
                        </div>
                    </div>
                    <div class="sb mb-15px col-sm-12">
                        <img width="240" height="160"
                             src="//vnsport.com.vn/wp-content/plugins/a3-lazy-load/assets/images/lazy_placeholder.gif"
                             data-lazy-type="image"
                             data-src="https://vnsport.com.vn/wp-content/uploads/2019/04/cam-ket-hai-long-3.png"
                             class="lazy lazy-hidden image wp-image-1162  attachment-full size-full" alt=""
                             loading="lazy" style="max-width: 100%; height: auto;" /><noscript>
                            <img width="240"
                                 height="160"
                                 src="https://vnsport.com.vn/wp-content/uploads/2019/04/cam-ket-hai-long-3.png"
                                 class="image wp-image-1162  attachment-full size-full" alt="" loading="lazy"
                                 style="max-width: 100%; height: auto;" />
                        </noscript>
                    </div>

                    <div class="sb mb-15px col-sm-12 ">

                        <div class="content-sb wow pulse" data-wow-delay="0.8s">
                            <a class="banner" href="">
                                <img src="https://vnsport.com.vn/wp-content/uploads/2020/06/giao-hang-vnsport.gif"
                                     alt="banner sidebar">
                            </a>
                        </div>
                    </div>


                </div>
            </div>

            <!-- =====================================right ad side bar ====================== -->

        </div>
    </div>
</div>

